{%- include head.html -%}
<head>
    <link rel="stylesheet" href="/assets/scss/074/updatepage.scss">
    <link rel="prefetch" href="/assets/updates/074/sections/coldsnap_section1.png">
    <link rel="prefetch" href="/assets/updates/074/sections/coldsnap_section2.png">
    <link rel="prefetch" href="/assets/updates/074/sections/coldsnap_section3.png">
    <link rel="prefetch" href="/assets/updates/074/sections/coldsnap_section4.png">
    <link rel="prefetch" href="/assets/updates/074/sections/coldsnap_section5.png">
    <link rel="prefetch" href="/assets/updates/074/sections/coldsnap_section6.png">
</head>

<body>
    {{ content }}
</body>