// COLOR

$color-gradient-1: #5a4745;
$color-gradient-2: #bfafa8;
$main-gradient: linear-gradient(
	to bottom,
	$color-gradient-1,
	$color-gradient-2 60%
);

$color-nav: #2b2726;
$color-title: #583a31;
$color-title-text: #e6e6dc;
$color-box: #34302d;
$color-text: #d4d4d4;

$twitter: #00acee;
$youtube: #ff0000;
$discord: #7289da;

$download: linear-gradient(#C8BDA5, #A1947C);
$download-alt: linear-gradient(#d3d3d3, #C8BDA5);