* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body
{
    background: linear-gradient(to bottom, rgb( 21, 26, 38 ), rgb( 55, 60, 74 ) );
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

main
{
    position: relative;
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}

.hidden
{
    display: none;
}

.center
{
    margin: 0 auto 0 auto;
}

div.coldsnap
{
    background-repeat: no-repeat;
}

div.style-text
{
    font-size: 16px;
    line-height: 18px;
    color:#d4d4d4;
}

span.achievement-name
{
    font-weight: bold;
    font-size: 16px;
    color: #d4d4d4;
}

span.achievement-desc
{
    font-size: 13px;
    color: #d4d4d4;
}

div#coldsnap-section1
{
    background-image: url("/assets/updates/074/sections/coldsnap_section1.png");
    width: 1200px;
    height: 1646px;
    a#logo-blue /*clickable logo*/
    {
        img 
        {
            width: 102px;
            height: 33px;
            margin-left: 340px;
            margin-top: 82px;
        }
        position: relative;
    }

    div#coldsnap-text-section-1
    {
        position: relative;
        width: 1000px;
        height: 500px;
        margin: 0 auto;
        div#intro-text
        {
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 150px;
            margin-top: 608px;
            width: 750px;
            height: 200px;
            padding-top: 7px;
            box-sizing: border-box;
        }
    }
}

div.map-gallery 
{
    table
    {
        border-spacing: 10px;
    }
    img 
    {
        width: 160px;
        height: 90px;
        border-radius: 0;
        object-fit: contain;
    }
}

div#coldsnap-section2
{
    background-image: url("/assets/updates/074/sections/coldsnap_section2.png");
    background-repeat: no-repeat;
    width: 1200px;
    height: 1260px;
    div#coldsnap-text-section-2
    {
        position: relative;
        width: 1000px;
        height: 500px;
        margin: 0 auto;

        div#canalzone-text
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 400px;
            height: 500px;
            margin-left: 140px;
            padding-top: 15px;
            box-sizing: border-box;
        }

        div#canalzone-previews 
        {
            margin-left: 550px;
            margin-right: 30px;
            table
            {
                border-spacing: 10px;
            }
            img 
            {
                width: 160px;
                height: 90px;
                border-radius: 0;
                object-fit: contain;
            }
        }
    }
}

div#coldsnap-section3
{
    background-repeat: no-repeat;
    background-image: url("/assets/updates/074/sections/coldsnap_section3.png");
    width: 1200px;
    height: 1008px;
    div#coldsnap-text-section-3
    {
        position: relative;
        width: 1000px;
        height: 400px;
        margin: 0 auto;
        div#cloister-text
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 400px;
            height: 400px;
            margin-left: 150px;
            padding-top: 50px;
            box-sizing: border-box;
        }
        div#cloister-previews 
        {
            margin-left: 560px;
            padding-top: 190px;
            margin-right: 30px;

            table
            {
                border-spacing: 10px;
            }

            img 
            {
                width: 160px;
                height: 90px;
                border-radius: 0;
                object-fit: contain;
            }
        }
    }
}

div#coldsnap-section4
{
    background-image: url("/assets/updates/074/sections/coldsnap_section4.png");
    /*realign the background with the page, it's a bit off due to the width being smaller(?)*/
    margin-left: 54pt;
    width: 1102px;
    height: 566px;

    div#coldsnap-text-section-4
    {
        position: relative;
        width: 1000px;
        height: 500px;
        margin: 0 auto;
    }
    div#twofort
    {
        position: absolute;
        width: 750px;
        height: 200px;
        margin-left: 120px;
        padding-top: 20px;
        box-sizing: border-box;
    }
}

div#coldsnap-section5
{
    background-repeat: no-repeat;
    background-image: url("/assets/updates/074/sections/coldsnap_section5.png");
    width: 1200px;
    height: 1171px;

    div#achievements-container
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        padding-top: 112px;
        height: 128px;
        box-sizing: border-box;
        margin-left: 247px;
        
        div.achievement 
        {
            text-align: left;
            margin-left: 75px;
            width: 250px;
        }
        /* I'm so sorry to whoever looks at this. I am so tired. -7/25/2025 */
        div#two
        {
            padding-top: 29px;
            margin-left: -32px;
        }

        div#three
        {
            margin-top: -1px;
        }

        div#four
        {
            margin-top: 30px;
            margin-left: -32px;
        }
        
        div#five
        {
            margin-top: 16px;
        }

        div#six
        {
            margin-left: -32px;
            margin-top: 45px;
        }
        div#seven
        {
            margin-left: 75px;
            margin-top: -15px;
        }
        div#eight
        {
            margin-left: -32px;
            margin-top: 15px;
        }
        div#nine
        {
            margin-left: 75px;
            margin-top: 17px;
        }
        
        div#ten
        {
            margin-right: 200px;
            margin-top: 250px;
        }
    }

    div#achievements-container-two
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        margin-top: 500px;
        height: 128px;
        box-sizing: border-box;
        margin-left: 247px;
        
        div.achievement 
        {
            text-align: left;
            margin-left: 75px;
            width: 200px;
        }

        /* I'm so sorry to whoever looks at this. I am so tired. -7/25/2025 */
        div#two
        {
            margin-top: 26px;
            margin-left: -32px;
        }

        div#three
        {
            margin-top: -14px;
        }

        div#four
        {
            margin-top: 15px;
            margin-left: -32px;
        }
        
        div#five
        {
            margin-top: -14px;
            width: 250px;
        }

        div#six
        {
            margin-top: 16px;
            margin-left: -32px;
        }

        div#seven
        {
            margin-top: 1px;
        }

        div#eight
        {
            margin-top: 30px;
            margin-left: -32px;
        }

        div#nine
        {
            margin-top: -14px;
        }
        
        div#ten
        {
            margin-top: 16px;
            margin-left: -32px;
        }

        div#eleven
        {
            margin-top: -16px;
        }
    }

    div#achievements-link
    {
        margin-top: 365px;
        margin-left: 246px;
        text-align: left;
        box-sizing: border-box;
        font-size: 16px;
    }
}

div#coldsnap-section6
{
    background-repeat: no-repeat;
    background-image: url("/assets/updates/074/sections/coldsnap_section6.png");
    width: 1088px;
    height: 1141px;
    margin-left: 34px; /*realign the background with the page, it's a bit off due to the width being smaller(?)*/
    overflow: hidden;

    div#coldsnap-text-section-6 
    {
        position: relative;
        width: 1000px;
        height: 500px;
        margin: 0 auto;

        div#thanks-letter /* Normal text isn't big enough to fit there, size it down a bit */
        {
            box-sizing: border-box;
            font-size: 14px;
            line-height: 18px;
            margin-top: 70px;
            margin-left: 186px;
            width: 700px;
        }

        div#patch-notes
        {
            width: 210px;
            height: 20px;
            height: 18px;
            margin-top: 635px;
            margin-left: 185px;
            font-size: 14px;
            z-index: 1; /*no matter what, keep this clickable and on top*/
        }

        div#legal
        {
            width: 775px;
            height: 50px;
            font-size: 14px;
            line-height: 18px;
            margin-top: 15px;
            margin-left: 145px;
            text-align: center;
            color:rgb(59,48,48);
        }
    }
}