 <!-- Page Navigation -->
 <nav class="nav">
    <div class="wrapper nav__wrapper">
        <!-- Logo -->
        <div id="logo">
            <picture>
                <source type="image/webp" srcset="{{ "/img/logo.webp" | relative_url }}">
                <img src="{{ "/img/logo.png" | relative_url }}">
            </picture>
        </div>
        <!-- Navigation Bar -->
        <ul class="nav__list">
            <li class="nav__items"><a href="/" class="nav__link"><img src="{{ "/img/header_about.png" | relative_url }}" class="nav__img"></img></a></li>
            <li class="nav__items"><a href="/download/" class="nav__link"><img src="{{ "/img/header_download.png" | relative_url }}" class="nav__img"></img></a></li>
            <li class="nav__items"><a href="/updates/" class="nav__link"><img src="{{ "/img/header_update.png" | relative_url }}" class="nav__img"></img></a></li>
            <li class="nav__items"><a href="/blog/" class="nav__link"><img src="{{ "/img/header_blog.png" | relative_url }}" class="nav__img"></img></a></li>
            <li class="nav__items"><a href="/credits/" class="nav__link"><img src="{{ "/img/header_credits.png" | relative_url }}" class="nav__img"></img></a></li>
        </ul>
    </div>
</nav>