 <!-- Page Navigation -->
 <nav class="nav">
    <div class="wrapper nav__wrapper">
        <!-- Logo -->
        <div id="logo">
            <a href="/">
                <picture>
                    <img src="{{ "/img/logo.png" | relative_url }}">
                </picture>
            </a>
        </div>
        <!-- Navigation Bar -->
        <ul class="nav__list">
            <li class="nav__items"><a href="/" class="nav__link"><img src="{{ "/img/header_about.png" | relative_url }}" class="nav__img"></img></a></li>
            <li class="nav__items"><a href="/download/" class="nav__link"><img src="{{ "/img/header_download.png" | relative_url }}" class="nav__img"></img></a></li>
            <li class="nav__items"><a href="/all-posts/" class="nav__link"><img src="{{ "/img/header_blog.png" | relative_url }}" class="nav__img"></img></a></li>
            <li class="nav__items"><a href="/credits/" class="nav__link"><img src="{{ "/img/header_credits.png" | relative_url }}" class="nav__img"></img></a></li>
        </ul>
    </div>
</nav>