<div id="windows-game">
    <!-- Back button -->
    <a href="javascript:backPage()"><img src="/img/btn_back.png" alt="Back" class="download-img back-img" id="btn_back"></a>

    <!-- Buttons to select OS -->
    <a href="javascript:winSelect()"><img src="/img/btn_win.png" alt="Download for Windows" class="download-img join-img" id="btn_win_select"></a>
    <a href="javascript:macSelect()"><img src="/img/btn_mac.png" alt="Download for MacOS" class="download-img join-img" id="btn_mac_select"></a>
    <a href="javascript:linuxSelect()"><img src="/img/btn_linux.png" alt="Download for Linux" class="download-img join-img" id="btn_linux_select"></a>

    <!-- Buttons to install based on OS -->
    <a href="javascript:installWin()"><img src="/img/btn_win.png" alt="Download for Windows" class="download-img join-img" id="btn_win_dl"></a>
    <a href="javascript:installMac()"><img src="/img/btn_mac.png" alt="Download for MacOS" class="download-img join-img" id="btn_mac_dl"></a>
    <a href="javascript:installLinux()"><img src="/img/btn_linux.png" alt="Download for Linux" class="download-img join-img" id="btn_linux_dl"></a>

    <script src="/scripts/game-os-pagination.js"></script>

    <!-- TODO Im prolly gonna have to use JS to entirely generate the buttons on the fly, currently theres a weird
    graphical bug where it renders all of the buttons for about a second -->
</div>