<div id="latest-posts">
    <h2 style="text-align: center;">Latest Posts</h2>
    <hr>
    {% assign i = 0 %}
    {% for post in site.posts %}
        {% if i != 3 %}
            {% unless post.hidden == true %}
            {% assign i = i | plus:1 %}
            <li>
                <p>
                    <a href="{{ post.url | relative_url }}">
                    <img src="/assets/blog/minibanners/{{ post.minibanner }}"/>
                    {{ escape }}
                    </a>
                </p>
            </li>
            {% endunless %}
        {% endif %}
    {% endfor %}
</div>