<style>

    #latest-posts {
        position: absolute;
        bottom: 0px;
        right: 20px;
        width: 200px;
    }

    #latest-posts li {
        height: 20%;
        list-style-type: none;
        white-space: nowrap;
        overflow: hidden;
    }

    @media screen and (max-width: 1000px){
        #latest-posts {
            position:relative;
            display: inline-block;
            margin: auto;
            width: 400px;
        }
    }
    #latest-posts img {
        border: solid gray 3px;
    }
    
</style>

<div id="latest-posts">
    <h2>Latest blog posts</h2>
    <hr>
    {% assign i = 0 %}
    {% for post in site.posts %}
        {% if i != 3 %}
            {% if post.hidden == false %}
            {% assign i = i | plus:1 %}
            <li>
                <p>
                    <a href="{{ post.url | relative_url }}">
                    <img src="/assets/blog/minibanners/{{post.subject}}.png"/>
                    {{ escape }}
                    </a>
                </p>
            </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>