.about-content {
	display: flex;
}

// Left area Size
.left-area {
	width: 70%;
	padding-right: 1rem;
}

// Right Area Size
.right-area {
	width: 25%;
	margin-top: -60px;
	position: relative;
}

// Join Image
.join-container {
	width: 140%;
}

// This Area affects the different buttons in the about page
.join-container__btn {
	position: absolute;
	top: 1.3rem;
	left: 2rem;
	display: flex;
	height: 18rem;
	flex-direction: column;
	justify-content: space-around;
}

// This affect the buttons
.join-img {
	padding: 0;
	border-radius: 0.5rem;
	width: 25rem;

	&:hover {
		background: lightgrey;
		transition: 0.5s;
	}
	&:not(:hover){
		transition: 0.5s
	}
}

.discord-img {
	background: $discord;
}

.twitter-img {
	background: $twitter;
}

.youtube-img {
	background: $youtube;
}
#latest-posts {
    position: absolute;
    bottom: 0px;
    right: 20px;
    width: 200px;
}

#latest-posts li {
    height: 20%;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
}

#latest-posts img {
    border: solid gray 3px;

    &:hover{
        filter: grayscale(50%);
        transition: 0.5s;
    }

    &:not(:hover){
        filter: grayscale(0%);
        transition: 0.5s;
    }
}

// Makes the buttons stack on top of eachother in smaller screens
@media (max-width: 1000px) {
	.about-content {
		flex-direction: column;
	}

	// Left area takes the full width
	.left-area {
		width: 100%;
		padding-right: 0;
	}

	// Right area takes the full width
	.right-area {
		margin-top: 0;

		width: 100%;
	}

	// Makes the video height a bit bigger
	.about__video {
		height: 50rem;
	}

	// Remove the join buttons background
	.join-container {
		display: none;

		// Makes the buttons in a row
		&__btn {
			margin-top: 2rem;
			flex-direction: row;
			flex-wrap: wrap;
			height: auto;
			position: static;
		}
	}

	.join-img {
		margin-bottom: 1rem;
	}

	#latest-posts {
        position:relative;
        display: inline-block;
        margin: auto;
        width: 400px;
    }
}
