.list {
	padding: 0 2rem;
	list-style-type: disc;
}

// This affect the title of the installation
.expandable {
	display: inline-block;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

// This affect the color and display to none to the instruction area
.showarea {
	display: none;
	padding: 2rem 1rem;
	background: #555;
}

// Responsive image (Very small in mobil phones)
.install-img {
	max-width: 100%;
}

// This affect the buttons in the expandable area
.btn {
	padding: 0.5rem 2rem;
	background: $color-gradient-2;
	border: none;
	border-radius: 0.3rem;
	font-size: 1.6rem;
	font-weight: 900;
}

img
{
    width: 100%;
    height: auto;
    max-height: 500px;
    box-sizing: border-box;
    border-radius: 10px;
}