// Shared across all buttons
.box-img {
	margin: auto;
    border-radius: 10px;
	background: $download;
}

.select-spacing{
	margin-top: 20px;
}

// For the selections
.pick-box {
	display:none;
	width: 40em;
	top: 11em;
	position: relative;

	&:hover {
		background: lightgrey;
		transition: 0.5s;
	}
	&:not(:hover){
		transition: 0.5s
	}
}

// For the install buttons
.install-box {
	display:none;
	top: 1rem;
	width: 40rem;
	position: relative;

	&:hover {
		background: lightgrey;
		transition: 0.5s;
	}
	&:not(:hover){
		transition: 0.5s
	}
}
#all_versions{
	position: relative;
	top:-3em;
}
// Just back button.
.back-button {
	display:none;
	background: ghostwhite;
	position: relative;
	width: 13rem;
	top: 70%;
	z-index: 1;
	&:hover {
		background: lightgrey;
		transition: 0.5s;
	}
	&:not(:hover){
		transition: 0.5s
	}
}

#choose-game-area {
	height: 50em;
}

#files {
	margin: auto;
	width: 700px;
}
