// This are creates the grid
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
	grid-auto-rows: 18rem;
}

// This affect the grid items content
.grid__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid $color-text;
}

.credit-title {
	font-size: 2.5rem;
}

// Credit images size
.credit-img {
	width: 12rem;
	height: 12rem;
}

.grid-2 {
	display: flex;
	flex-wrap: wrap;
	//min-height: 20rem;
}

.grid__item2 {
	margin-right: 5rem;
}
