@font-face {
    font-family: 'TF2 Build';
    src: url('TF2Build.woff2') format('woff2'),
        url('TF2Build.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

