body {
    background-image: url("/img/chalkboard.png");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
  }
  @font-face {
    font-family: TF2Build;
    src: url("/assets/fonts/TF2Build.woff") format("woff");
    src: url("/assets/fonts/TF2Build.woff2") format("woff2");
  }
  div {
    position: absolute; 
    width: 400px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    background: none;
  }
  p {
    color: #F1F1F1;
    font-size: 3vw;
    text-align:center;
    font-family: TF2build;
  }
  img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }