// This area Affects the navigation bar
.nav {
	background: #2b2726;
	padding: 20px 30px;
	border-bottom-style: solid;
	border-bottom-color: #83756c;
	border-width: 3px;

	&__wrapper {
		display: flex;
	}
	&__list {
		display: flex;
		padding-top: 4rem;
	}

	&__items {
		padding: 0 1.6rem;
	}

	&__img {
		height: 2.6rem;
		transition: all 0.1s ease-in-out;

		&:hover {
			transform: scale(1.2);
		}
	}
}
// Logo Properties
#logo {
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
	margin-right: 75px;
	color: #fff;
}
#logo img {
	width: 308px;
	vertical-align: middle;
	margin-right: 10px;
}

@media (max-width: 1000px) {
	.nav__wrapper {
		flex-direction: column;
		align-items: center;
	}

	#logo {
		margin-right: 0;

		& img {
			margin-right: 0;
		}
	}
}

// This area affect the navbar to be responsive in mobile phone by stacking the nav__items in top of eachother
@media (max-width: 500px) {
	.nav {
		padding-bottom: 1rem;

		&__list {
			flex-direction: column;
			align-items: center;
			padding-top: 1rem;
		}

		&__items {
			padding: 1rem;
		}

		&__img {
			height: 3rem;
		}
	}
}
