<details class="role-container">
  <summary><h2>Environment Level Designer</h2><hr></summary>
  <h2>Must have</h2>
  <ul>
    <li>Hammer++</li>
    <li>VBSP++</li>
    <li>VVIS++</li>
    <li>VRAD++</li>
    <li>HLMV++</li>
    <li>Essential Hammer Skills</li>
    <ul>
      <li>Vertex and Clip Tool</li>
      <li>Cordoning</li>
      <li>Texture Palette Cohesion</li>
      <li>Models Compliment Setting</li>
      <li>Compiling Settings</li>
      <li>Gridded and Resourceful Brushwork</li>
      <li>Area Portals</li>
      <li>Hint and Skip Brushes</li>
      <li>Competence in Detail Scaling</li>
      <li>Cube Maps</li>
      <li>HDR/SDR</li>
      <li>Knowledge of brush entities</li>
      <ul>
        <li>func_detail</li>
        <li>func_brush</li>
        <li>func_lod</li>
      </ul>
    </ul>
  </ul>
  <h2>Good to have</h2>
  <ul>
    <li>Familiarity with external map compiling tools</li>
    <ul>
      <li>CompilePal</li>
      <li>BSPEntSpy</li>
    </ul>
    <li>Familiarity of Git and GitHub</li>
  </ul>
  <hr>
  <h2><a href="/join-us">Apply</a></h2>
</details>