<details class="role-container">
  <summary><h2>Game Programmer</h2><hr></summary>
  <h2>Must have</h2>
  <ul>
    <li>Knowledge of C++</li>
    <li>Knowledge of Visual Studio 2022 or Qt Creator</li>
    <li>Familiarity of Git and GitHub</li>
    <ul>
      <li>Proper Branch Etiquette</li>
      <li>Descriptive Commit Messages</li>
    </ul>
  </ul>
  <h2>Good to have</h2>
  <ul>
    <li>Knowledge of Debugging Crash Dump files</li>
    <li>Familiarity of Source Engine Programming</li>
    <li>Familiarity with GDB</li>
    <li>NPC Programmer (Specialization)</li>
    <ul>
      <li>Knowledge of Source Engine NextBots</li>
    </ul>
  </ul>
  <hr>
  <h2><a href="/join-us">Apply</a></h2>
</details>