<details class="role-container">
  <summary><h2>Web Developer</h2><hr></summary>
  <h2>Must have</h2>
  <ul>
    <li>Knowledge of TypeScript</li>
    <li>Familiarity with React</li>
    <li>Familiarity with Node</li>
    <li>Familiarity of Git and GitHub</li>
    <li>Descriptive Commit Messages</li>
    <li>Proper Branch Etiquette</li>
  </ul>
  <h2>Good to have</h2>
  <ul>
    <li>Familiarity of PHP</li>
    <li>Knowledge of Database Management</li>
    <li>Clean Code Best Practices</li>
  </ul>
  <hr>
  <h2><a href="/join-us">Apply</a></h2>
</details>
