@use "../abstract/variables";

// This area affects the tile box
.box {
	max-width: 90rem;
	margin: 3rem auto 0;
	filter: drop-shadow(0.5rem 0.3rem 0.2rem rgba(0, 0, 0, 0.7));
	&__title {
		padding: 2rem 0 0.8rem;
		background-color: variables.$color-title;
		clip-path: polygon(5% 0, 100% 30%, 100% 100%, 0 100%, 0 20%);
		z-index: 2;
	}

	&__heading {
		font-family: 'TF2 Build';
		font-size: 5.5rem;
		letter-spacing: 0.2rem;
		font-weight: 100;
		color: variables.$color-title-text;
		padding: 1rem 0 1rem 4rem;
		border-bottom: variables.$color-title-text dotted 0.6rem;
	}
}

// This area affects the content box
.box-content {
	color: #d4d4d4;
	max-width: 90rem;
	margin: -7.6rem auto;
	padding: 10rem 2rem 3rem;
	min-height: 10rem;
	background-color: variables.$color-box;
	box-shadow: 0.5rem 0.3rem 0.2rem rgba(0, 0, 0, 0.7);
}

.box-content {
	ul {
		padding: 0 2rem;
		list-style-type: disc;
		margin-bottom: 1rem;
	}
	p {
		//margin-bottom: 2rem;
	}
	span {
		font-size: 1.2rem;
	}
	video
	{
		width: 100%;
		height: auto;
		max-height: 500px;
		box-sizing: border-box;
		border-radius: 10px;
	}

	code.language-plaintext
	{
		padding: 3px 4px;
		border-radius: 0.5rem; 
		background-color: #272422;
		margin-bottom: 2rem;
		font-size: 1.4rem;
	}
}

.line {
	margin: 10rem auto;
	max-width: 90rem;
	height: 0.3rem;
	background: #83756c;
}
