---
layout: default
---
{%- if page.NoFeatureImage != true -%}
{%- if page.NoImageEffect == 0 -%}
<img class="feature-image" src="{{- page.image | relative_url -}}" alt="">
{%- elsif page.NoImageEffect == 2 -%}
<img class="feature-image2" src="{{- page.image | relative_url -}}" alt="">
{%- elsif page.NoImageEffect == 1 or page.image -%}
<img class="feature-image-no-effect" src="{{- page.image | relative_url -}}" alt="">
{%- else -%}
{%- assign postImage = "/assets/images/Default-image.jpg" -%}
<img class="feature-image-default" src="{{- postImage | relative_url -}}" alt="">
{%- endif -%}
{%- endif -%}
<h1 class="credit-title">{{ page.subject | escape }}</h1>
<h3 class="author">{{page.author | default:"PF2 Team" }} - {{ page.date | date: "%b %-d, %Y" }}</h3>
<hr>
<div class="blog">{{ content }}</div>
