---
layout: default
---
<h2 class="post-list-heading">{{ page.subject | escape }}</h2>
<div>
  <div class="tags-expo-list" style="display: flex;">
    <h2><a href="/blog" class="post-tag" style="margin-right: 30px;">All</a></h2>
    <h2><a href="/posts" class="post-tag" style="margin-right: 30px;">Posts</a></h2>
    <h2><a href="/updates" class="post-tag">Updates</a></h2>
  </div>
</div>
<div class="grid">
  {%- for post in site.posts -%}
    {% for category in post.categories %}
      {% if category == page.category or page.category == "all" %}
        {% if post.hidden != true %}
        {%- assign date_format = "%b %-d, %Y" -%}
        <div class="grid__item">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {%- if post.image -%}
            <div class="container-image">
              <img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image">
            </div>
            {%- else -%}
            {%- assign postImage = "/assets/images/Default-image.jpg" -%}
            <div class="container-image">
              <img src="{{- postImage | relative_url -}}" alt="" class="blog-roll-image">
            </div>
            {%- endif -%}
            <h3>
              {{- post.subject | escape -}}
            </h3>
          </a>
          <span class="post-meta">{{ post.author | default: "PF2 Team" }} - {{ post.date | date: date_format }}</span>
        </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</div>