---
layout: default
---
<style>
  ul.nav_categories
  {
    li.nav_item 
    {
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      a {
        text-decoration:dotted;
      }
    }
  }
</style>

<h2 class="post-list-heading" style="text-align: center;">{{ page.subject | escape }}</h2>
<div>
  <div class="tags-expo-list wrapper nav__wrapper" style="display: flex; margin:auto;">
    <ul class="nav_categories">
      <li class="nav_item"><a href="/all-posts" class="post-tag">All</a></li>
      <li class="nav_item"><a href="/blog" class="post-tag">Blog</a></li>
      <li class="nav_item"><a href="/updates" class="post-tag">Updates</a></li>
    </ul>
  </div>
</div>
<div class="grid">
  {%- for post in site.posts -%}
    {% for category in post.categories %}
      {% if category == page.category or page.category == "all" %}
        {% if post.hidden != true %}
        {%- assign date_format = "%b %-d, %Y" -%}
        <div class="grid__item">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {%- if post.image -%}
            <div class="container-image">
              <img src="{{- post.image | relative_url -}}" alt="" class="blog-roll-image">
            </div>
            {%- else -%}
            {%- assign postImage = "/assets/images/default-banner.png" -%}
            <div class="container-image">
              <img src="{{- postImage | relative_url -}}" alt="" class="blog-roll-image">
            </div>
            {%- endif -%}
            <h3>
              {{- post.title | escape -}}
            </h3>
          </a>
          <span class="post-meta">{{ post.author | default: "PF2 Team" }} - {{ post.date | date: date_format }}</span>
        </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</div>