<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body>
  {%- include header.html -%}

	<!-- Main Section -->
	<main class="main">
		<header class="header">
			<div class="wrapper">
				<!-- Title Box -->
				<div class="box">
					<div class="box__title">
						<h1 class="box__heading">{{ page.title | escape }}</h1>
					</div>
				</div>
				<!-- Content Box -->
				<div class="box-content">
          {{ content }}
				</div>

				<div class="line"></div>
			</div>
		</header>
	</main>
  
	{%- include footer.html -%}
</body>

</html>