<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}

<body>
  {%- include header.html -%}

	<!-- Main Section -->
	<main class="main">
		<header class="header">
			<div class="wrapper">
				<!-- Title Box -->
				<div class="box">
					<div class="box__title">
						<h1 class="box__heading">
							{%- if page.categories contains 'blog' or page.categories contains 'updates' -%}
							{{ page.subject | escape }}
							{%- else -%}
							{{ page.title | escape }}
							{%- endif -%}
						</h1>
					</div>
				</div>
				<!-- Content Box -->
				<div class="box-content">
          {{ content }}
				</div>

				<div class="line"></div>
			</div>
		</header>
	</main>
  
	{%- include footer.html -%}

	<script src="/medium-zoom.min.js"></script>
	<script>
		mediumZoom('.zoom', {
		  margin: 24,
		  background: '#000000E1',
		})
	</script>	
</body>

</html>