// This area affects the footer content
.footer {
	text-align: center;
	padding-left: 30%;
	padding-right: 30%;
	padding-bottom: 2rem;
	&--about {
		margin-top: -8rem;
	}

	&-text {
		font-size: 1rem;
		color: #000000;
	}
}
