html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	background: $main-gradient;
	background-color: #bfafa8;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 100vh;
	min-height: 100vh;
}
main {
	padding: 0 1rem;
}

ul {
	list-style: none;
}

h2 {
	font-size: 2.1rem;
	font-family: Arial, Helvetica, sans-serif;
	color: $color-text;
	padding: 1rem 0;
}

.author {
	font-size: 1.5rem;
	font-family: Arial, Helvetica, sans-serif;
	color: $color-text;
	padding: 0.5rem 0;
}

p {
	font-size: 1.6rem;
	color: $color-text;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2rem;
}

a {
	color: $color-text;
	transition: all 1s;
	display: inline;
	// overflow-wrap: break-word !important;
	// word-wrap: break-word !important;

	&:hover {
		color: lightblue;
	}
}

li {
	font-size: 1.6rem;
	padding: 1rem 0;
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	margin-bottom: 1rem;
}

picture {
	margin-top: 1rem;
	margin-bottom: -0.5rem;
}

.container-image{
	padding-bottom: 0.5rem;
	padding-top: 1rem;
}

.blog-title{
	text-align: left !important; 
	position: relative !important;
	display: inline !important;
	transform: translate(-50%, -50%) !important;
}

.blog-roll-image{
	width: 60%;
	height: 75%;
	//transform: translateY(-5%);
	object-fit:scale-down;
	padding-left: 0rem;
	box-sizing: border-box;
	border: solid gray 3px;
	border-radius: 10px;
	@media screen and (max-width: 767px){  
		width: 100%;
		height: 75%;
	}

		&:hover{
			filter: grayscale(50%);
			transition: 1s;
		}

		&:not(:hover){
			filter: grayscale(0%);
			transition: 1s;
		}
}