html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	background: $main-gradient;
	background-color: #bfafa8;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 100vh;
	min-height: 100vh;
}
main {
	padding: 0 1rem;
}

ul {
	list-style: none;
}

h1 {
	font-size: 3.2rem;
	font-family: Arial, Helvetica, sans-serif;
	color: $color-text;
	padding: 1rem 0;
}

h2 {
	font-size: 2.1rem;
	font-family: Arial, Helvetica, sans-serif;
	color: $color-text;
	padding: 1rem 0;
}

.author {
	font-size: 1.5rem;
	font-family: Arial, Helvetica, sans-serif;
	color: $color-text;
	padding: 0.5rem 0;
}

p {
	font-size: 1.6rem;
	color: $color-text;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 2rem;
}

a {
	color: $color-text;
	transition: all 1s;
	display: inline;
	// overflow-wrap: break-word !important;
	// word-wrap: break-word !important;

	&:hover {
		color: lightblue;
	}
}

li {
	font-size: 1.6rem;
	padding: 0.4rem 0;
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	margin-bottom: 1rem;
}

picture {
	margin-top: 1rem;
	margin-bottom: -0.5rem;
}

.container-image{
	padding-bottom: 0.5rem;
	padding-top: 1rem;
}

.blog-title{
	text-align: left !important; 
	position: relative !important;
	display: inline !important;
	transform: translate(-50%, -50%) !important;
}

.blog-roll-image{
	width: 60%;
	height: 75%;
	//transform: translateY(-5%);
	object-fit:scale-down;
	padding-left: 0rem;
	box-sizing: border-box;
	border: solid gray 3px;
	border-radius: 10px;
	@media screen and (max-width: 767px){  
		width: 100%;
		height: 75%;
	}

		&:hover{
			filter: grayscale(50%);
			transition: 1s;
		}

		&:not(:hover){
			filter: grayscale(0%);
			transition: 1s;
		}
}

.feature-image-no-effect{
	width: 100%; /* width of container */
    //height: 300px; /* height of container */
    object-fit: cover;
	object-position: 20% 35%;
	border-radius: 10px;
	border: solid gray 3px;
}

.feature-image{
	width: 100%; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
	object-position: 20% 35%;
	border-radius: 10px;
	border: solid gray 3px;
	@media screen and (max-width: 767px){
		height: 100%;
	}
}

.feature-image-default{
	width: 100%; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
	object-position: center;
	border-radius: 10px;
	@media screen and (max-width: 767px){
		height: 100%;
	}

    //border: 5px solid black;
}


blockquote {
	//border-left: .25em solid #fe8019;
	display: inline-block;
	color: #ffba21;
	padding: 0 3em;
	font-family: Arial, Helvetica, sans-serif;
	//font-style: ;
	font-weight: bold;
  	font-size: 14px;
}

blockquote::before {
	content:'';
    background-image: url('https://wiki.teamfortress.com/w/images/c/c3/Speech_voice.png');
	//border-right: .25em solid #fe8019;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    display: inline-block;
	margin: 0 0 0 -3.6em;
	vertical-align:middle;
}

kbd {
    display: inline-block;
    padding: 6px 7px;
    font-size: 1.2875rem;
    line-height: 8px;
    color: var(--gray-700, #d4d4d4);
    vertical-align: middle;
    background-color: var(--gray-10, #8b8b8b59);
    border-width: 1px;
    border-style: unset;
    border-color: var(--gray-100, #dbdbdb) var(--gray-100, #dbdbdb) var(--gray-200, #bfbfbf);
    border-image: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 var(--gray-200, #bfbfbf) inset;
}

